; see http://editorconfig.org/ for more information on this file.

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

; Python: PEP8 defines 4 spaces for indentation
[*.py]
indent_style = space
indent_size = 4
